database_url_scheme=jdbc:mysql:///
database_url_hostname=project_db

web_database_username=web_user
web_database_password=web_password
admin_database_username=admin_user
admin_database_password=admin_password
batch_database_username=batch_user
batch_database_password=batch_password

logger_identifier=cannot_be_empty
production=false
nonproduction_prefix=cannot_be_empty

smtp_host=localhost
email_from_field=root

logger_email_destination=

sql_trace_enabled=false

